<form action="/book" method="POST">
<div class="bookCont">
<div class="checkIn">
 check in <br> <input type="date" name="chekIn" id="Intime">

</div>
<div class="checkOut">
 Check out <br> <input type="date" name="ckOut" id="Outtime">
</div>
<div class="bookBtn">  <button type="submit" class="btn btn-primary">Reserve Accomomdation</button></div>
  </div>
</form>