<form action="/book" method="POST">
{{!-- <div class="bookCont">
<div class="checkIn">
 check in <br> <input type="date" name="chekIn" id="Intime">

</div>
<div class="checkOut">
 Check out <br> <input type="date" name="ckOut" id="Outtime">
</div>
<div class="Persons">
  <select>
  <option value="volvo">Adults</option>
  <option value="saab">0</option>
  <option value="saab">1</option>
  <option value="saab">2</option>
  <option value="opel">3</option>
  <option value="audi">4</option>
  <option value="volvo">5</option>
  <option value="saab">6</option>
  <option value="opel">7</option>
  <option value="audi">8</option>

</select>
</div>
<div class="Persons">
  <select>
  <option value="volvo">Children</option>
  <option value="saab">0</option>
  <option value="saab">1</option>
  <option value="saab">2</option>
  <option value="opel">3</option>
  <option value="audi">4</option>
  <option value="volvo">5</option>
  <option value="saab">6</option>
  <option value="opel">7</option>
  <option value="audi">8</option>

</select>
</div>
<div class="bookBtn">  <button type="submit" class="btn btn-primary">Search Accomomdation</button></div>
  </div> --}}
</form>