@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Bubblegum+Sans|Caveat+Brush|Chewy|Lobster+Two');


body {
    width: 100%;
    height: 100%;
    /* background-color: darkgray; */
    background-image: url(road.jpg);
    background-repeat: no-repeat;
}



.navbar {
    /* background-color: #3398b7; */
    /* border: 0;
    z-index: 9999;
    letter-spacing: 4px; */

}
.form-check-label{
    background-color: white;
}
/* .form-row{

} */
.card{
    padding-top: 0ex;
float: left;
}
.bookCont{
    text-align: center;
}